body {
    padding: 1.5em;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-bottom: 2em;
}

a {
    color: #00B7FF;
}

nav a,
button {
    min-width: 48px;
    min-height: 48px;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.mqttcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.mqttcontainer input {
    width: 100%;
    padding-bottom: 2em;
    padding: 1.5em;
}

.mqttcontainer label {
    position: relative;
    left: 0px;
}