body {
    padding: 1.5em;
    font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-bottom: 2em;
}

a {
    color: #00B7FF;
}

nav a,
button {
    min-width: 3em;
    min-height: 3em;
}

input {
    font-size: 1.0em;
}

img,
embed,
object,
video {
    max-width: 100%;
}

.mqttcontainer {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;
    margin: 0.5em 2% 0.5em;
}

.mqttcontainer input {
    width: 98%;
    padding-bottom: 2em;
    padding: 1%;
    font-size: 1.0em;
}

.mqttcontainer button {
    font-size: 0.8em;
}

.mqttcontainer pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-width: 4;
    font-size: 0.8em;
}

.mqttcontainer label {
    position: relative;
    left: 0px;
}