<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Hello World</h1>
    <p>Welcome to
        <%= title %>
    </p>
    <form action="accountnewa" method="post">
        <p>
            <span>帐号:</span>
            <input id="name" name="name" type="text" />
        </p>
        <p>
            <span>密码:</span>
            <input id="password" name="password" type="password" />
        </p>
        <p>
            <span>邀请码:</span>
            <input id="invitatecode" name="invitatecode" type="text" />
        </p>
        <p><input type="submit" value="创建"></p>
    </form>
</body>

</html>