<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
    <script src="/js/mqttclienta.js" type="text/javascript"></script>


</head>

<body>
    <p>欢迎 :
        <p id="client-account-login-id">
            <%= title %>
        </p>
    </p>

    <div id="mqtt-client-in" class="mqttcontainer" style="visibility: hidden;">
        <h2>主题消息收发</h2>
        <label name="mqttconfigserver" id="mqttconfigserver_id" style="visibility: hidden;"><%= mqttsrvi %></label>
        <div style="width: 100%;">
            <label>主题：</label>
            <input name="mqtttitle" id="mqtttitle_id" maxlength="512" placeholder="请填写标题" value="Sample" type="text">

            <label>消息：</label>
            <input name="mqttmessage" id="mqttmessage_id" maxlength="512" placeholder="请填写消息" value="message" type="text">
            <br>
            <button onclick="sendmqttmsga();">发送</button>
        </div>
        <div style="width: 100%;background: #ddd;height:0.2em;margin: 1em 0em 0.5em;">
        </div>
        <div style="width: 100%;">
            <label>
            收到：            
        </label>
            <pre id="mqttmessage_receive_id"></pre>
            <label>收到的主题：</label>
            <p id="mqtttopic_receive_id"></p>
        </div>
        <div style="width: 100%;background: #ddd;height:0.2em;margin: 1em 0em 0.5em;">
        </div>
        <div style="width: 100%;">
            <label>订阅主题：</label>
            <input name="mqttsubscribetitle" id="mqttsubscribetitle_id" maxlength="512" placeholder="请填写订阅标题" value="theSampleTopic" type="text">
            <button onclick="subscribemqtttopica();">订阅</button>
        </div>
        <div style="width: 100%;background: #ddd;height:0.2em;margin: 1em 0em 0.5em;">
        </div>
        <div style="width: 100%;">
            <label>邀请码：</label>
            <p>
                <%= invite1 %>
            </p>
            <p>
                <%= invite2 %>
            </p>
        </div>
        <div style="width: 100%;background: #ddd;height:0.2em;margin: 1em 0em 0.5em;">
        </div>

    </div>

    <p><a href='../'>退出</a></p>
</body>

</htm>